.icon-button {
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    span {
        color: #CE5043;
        font-size: .8em;
        font-weight: bold;
    }

    &__count {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: baseline;
        border-radius: 20px;
        background-color: #F4A513;
        position: absolute;
        top: 28px;

        span {
            font-size: .8em;
            font-weight: bold;
            color: white;
        }
    }
}